// Override Bootstrap variables in this file, e.g.

$font-size-base: 16px;

$site-width: 960px;
$orange: #da7d40;
$grey: #4A423E;
$brown: #49433e;
$darkbrown: #282520;
$green: #546C55;
$lightgrey: #b4b5b4;
$sand: #bfa679;